h1 {
    font-family: "Nico Moji";
    font-size: 5vw;
    margin: 6vw;
    text-align: center;
}
td {
    font-family: "Nico Moji";
}
.split {
    display: table;
    width: 100%;
}
.item {
    display: table-cell;
    padding: 40px;
    /* width: 50%; */
}
.left{
    position: relative;
    /* background-image:url(cool-background.png); */
    width: 60%;
}

@media screen and (max-width:1024px) {
    .split{
        display: block;
    }
    .item{
        display: block;
        width: auto;
    }
    /* .split-left__inner{
        position: inherit;
        width: auto;
    } */
}

body {
    /* background: rgb(246, 243, 231); */
    background-image:url(cool-background.png);
    background-size: cover;
    background-attachment: fixed;
}
#list{
    background-color: rgb(246, 243, 200);
}
#list_tr {
    background-color: rgb(255, 255, 255);
}
div {
    /* margin-left: 10vw; */
    /* margin-right: 10vw; */
    text-align: center;
}
table {
    margin: 10vw;
    text-align: center;
}
section {
    background: rgb(246, 243, 231);
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    /* 8vw; */
    margin: 10vw;
  }
#list{
    margin: auto;
    margin-bottom: 5vw;
}
button{
    margin: 20px;
    /* margin-left: 20px; */
    width: 25vw;
}
